@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   display: flex;
   justify-content: center;
    margin: 0;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
}
img{
    max-width:100%;
}



.mobile-container{
    background-color:rgb(250, 245, 245);
    width:400px;
    box-shadow: 0 0  10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
}
header{
   
    padding: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color: rgb(225, 230, 233);
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}
header button{
    background-color:transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;

}

.fav-container{
   text-align: center;
    padding: 1rem;
    background-color: rgb(221, 195, 217);

}
.fav-meals {
    display: flex;
    list-style-type:none;
    overflow: auto;
    padding: 0;
    flex-wrap: wrap;
}
.fav-meals li{
    width: 75px;
    margin: 5px;

}
.fav-meals li img{
    border: 2px solid #ffffff;
    box-shadow: 0 0  10px 2px #3333331A;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;

}
.fav-meals li span{
    font-size: 0.9rem;
}

.meal{
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331A;
    margin: 1.5rem;
}
.meal-header{
    position: relative;


}
.meal-header .random{
    
    position: absolute;
    top:1rem;
    background-color: #ffffff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

 .meal-header img{
     height: 250px;
     width: 100%;
     object-fit: cover;


 }

 .meal-body{

 }